.footer {
    display: flex;
    flex-direction: column;
    padding: clamp(50px, 10vw, 3%) 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.425);
}

.container {
    padding: 0 clamp(0px, 10vw, 15%);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.groupBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerLogo {
    font-size: 1.3rem;
}

.footerTag {
    font-size: 15px;
    opacity: 0.7;
}

.groupHeader {
    font-weight: 500;
}

.logos {
    display: flex;
    font-size: 20px;
    opacity: 0.7;
    gap: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    font-size: 15px;
    position: relative;
}

.items li {
    cursor: pointer;
    position: relative;
    opacity: 0.7;
}

.items li:hover {
    opacity: 1;
}

.divider {
    border-top: 1px solid rgba(128, 128, 128, 0.425);
    width: 80%;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(0px, 10vw, 15%);
    font-size: 14px;
    opacity: 0.7;
}
